@model AddProjectFormModel

@{
    ViewData["Title"] = "Add Project";
}

<div class="text-center">
    <h1 class="display-4">Search Project</h1>
    <div class="btn-group">
        <button type="button" class="btn btn-success dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Search
        </button>
        <div class="dropdown-menu">
            <a class="dropdown-item" href="#">By Name</a>
            <a class="dropdown-item" href="#">By Type</a>
            <a class="dropdown-item" href="#">By Town</a>
            <a class="dropdown-item" href="#">By User</a>            
        </div>
    </div>
</div>