@{
    ViewData["Title"] = "Welcome to Project Manager 1.0";
}

<div class="text-center">
    <h1 class="item-title">@ViewData["Title"]</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
