<div class="d-flex justify-content-center">
    <a asp-controller="Reports" asp-action="ByCost" class="btn btn-primary mr-1">Projects by cost</a>
    <a asp-controller="Reports" asp-action="ByEndDate" class="btn btn-primary mr-1">Projects by end date</a>    
    <a asp-controller="Reports" asp-action="Closed" class="btn btn-primary mr-1">Closed Projects</a>    
</div>

